.menu{
	position: fixed;
	border: 1px solid #fff;
	background-color: #fff;
}
.menu-item.active{
	color: red;
}
.section {
	height: 100vh;
	background-color: green;
	color: #fff;
}

.section:nth-child(2) {
	height: 120vh;
	background-color: teal;
	color: #fff;
}

.section:nth-child(3) {
	height: 100vh;
	background-color: #ceb937;
	color: #fff;
}

img {
	width: 150px;
	height: 150px;
}