* {
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	overflow: hidden;
}


#box {
	width: 750px;
	height: 300px;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	border: 1px dashed #777;

	display: flex;
	flex-wrap: wrap;
}

.selector {
	font-size: 3rem;
	text-align: center;
}

.text {
	font-weight: bold;
}

.class1 {
	color: orange;
}

.class2 {
	color: #000;
	background-color: #ff0;
}

.class3 {
	color: #fff;
	background-color: rgb(136,206,2);
}