* {
    box-sizing: border-box;
    font-family: sans-serif;
}

#box {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    margin: auto;
}

.selector {
    width: 100px;
    height: 100px;
    background: rgb(136, 206, 2);
    margin: 2px;
}
